body {
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    height: 710px;
}

.session-profile {
    border-radius: 50%;
    margin-left: 35px;
}

.chat-top-nav {
    list-style: none;
    display: flex;
    padding: 10px;
    width: 250px;
    margin-left: 35%;
}

a {
    text-decoration: none;
}

.top-links {
    margin-left: auto;
    margin-right: auto;
}

.fa-search {
    margin-left: 20px;
    height: 28px;
    padding-top: 13px;
    border-bottom: 1px solid gray;
    color: gray;
    margin-top: 15px; 
} 

.search-bar {
    height: 40px;
    margin-top: 15px;
    padding-bottom: 0px;
    width: 300px;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 5px; 
}

.container, .top-nav, .chat-area {
    display: flex;
}

.side-links {
    border-radius: 25px;
    padding-top: 15px;
    margin-bottom: 5px;
    
}

.side-links a {
    color: gray;
}

.side-nav-bar {
    width: 250px;
    background-color: #13263a;
}

.chat-side-nav {
    list-style: none;
    padding: 5px;
}

.side-nav {
    width: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding-left: 35px;
    height: 10px;
}

#create-chat {
    margin-top: 60px;
    margin-bottom: 60px; 
    border-radius: 25px;
    padding-top: 15px;
    background-color: rgba(22, 180, 180);
    color: white;
}

.cog {
    margin-top: 70px;
}

.topics-bar {
    width: 300px;
    height: 635px;
    background-color: rgba(192, 192, 192, 0.2);
}

.main {
    height: 710px;
}

.chat-view {
    width: 870px;
    height: 625px;
    padding: 5px;
}

.chat-links {
    list-style: none;
    display: flex;
    width: 300px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

.chat-links li {
    margin-right: auto;
    margin-left: auto;
}

.text-area {
    margin-top: 10px;
    padding: 2px;
    border: 1px solid silver;
    border-radius: 25px;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
}

.receiver, .sender {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}

.sender {
    position: relative;
    left: 410px;
    background-color: rgba(22, 180, 180, 0.9);
    color: white;
}

.receiver {
    background-color: rgba(192, 192, 192, 0.3);
}

.topic {
    padding: 15px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    color: gray;
}