body {
    /* background-image: linear-gradient(to bottom left, #cc00cc, #9900ff, #00ffff); */
    /* width: 100%;
    height: 100%; */
    margin: auto;
    /* padding-top: 90px;
    padding-bottom: 87px; */
    font-family: 'Josefin Sans', sans-serif;
}

.form-container {
    background-image: linear-gradient(to bottom left, #cc00cc, #9900ff, #00ffff);
    height: 660px;
    padding-top: 100px;
}

.login-form {
    width: 370px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.signup-form {
    width: 370px;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input {
    width: 320px;
    height: 30px;
    border: none;
    margin-bottom: 15px; 
    margin-left: 15px;
}

label {
    font-size: 12px;
    color: gray;
    margin-left: 15px;
}

li {
    list-style: none;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #9900ff;
}

li:hover {
    color: #cc00cc;
}

.navigation-links {
    list-style: none;
}

.signup-list {
    color: white;
}

#username, #password, #fullname, #email, #confirmpassword {
    border-bottom: 2px solid silver;
}

#button {
    height: 35px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 100px;
    background-image: linear-gradient(to left, #cc00cc, #9900ff, #00ffff);
    color: white;
}

#button:hover {
    background-image: linear-gradient(to left, white, white); 
    color: #9900ff;
    border: 1px solid #cc00cc;
}

.camp-image {
    background-image: url(img/kevin-erdvig-BdfHZ4LH11A-unsplash.jpg);
    background-size: cover;
    height: 630px;
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.overlay-color {
    margin: auto;
    height: 630px;
    width: 400px;
    background-image: linear-gradient(to bottom right, rgba(204, 0, 204, 0.2), rgba(153, 0, 255, 0.3), rgba(0, 255, 255, 0.4));
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    width: 790px;
}

